html{
	height: 100%;
	font-size: 100px;
}
body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-user-select: none;
}
.wrap{
	width: 7.5rem;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-direction: column;
}
header{
	height: 4.08rem;
	padding: 0.38rem 0.24rem 0;
	background-color: #097b47;
	position: relative;
}
header .arrow{
	height: 0.36rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	padding-right: 0.3rem;
	position: absolute;
	left: 0.2rem;
	top: 0.45rem;
}
header h2{
	font-size: 0.34rem;
	color: #fff;
	margin: 0.3rem 0 0.42rem;
	text-align: center;
}
header .bg{
	width: 7.02rem;
	height: 2.82rem;
	background: url(../img/bg.png) no-repeat center;
	background-size: cover;
	position: relative;
	font-size: 0.26rem;
	color:#a1a1a1 ;
}
header .bg .line{
	width: 6.74rem;
	height: 1px;
	background: url(../img/line1.png) no-repeat;
	position: absolute;
	top: 0.5rem;
	left: 0.14rem;
}
header .destination{
	display: flex;
	position: absolute;
	top: 0.51rem;
	left: -0.2rem;
}
header .destination .start_box,header .destination .end_box{
	width: 2.78rem;
	height: 0.88rem;
	padding: 0.61rem 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-left: 0.18rem;
}
header .destination .end_box{
	margin-left:0;
	margin-right: 0.18rem;
}
header .destination .start_box .start,header .destination .end_box .end{
	display: flex;
	justify-content: center;
	font-size: 0.28rem;
	line-height: 0.28rem;
}
header .destination .start_box .start img,header .destination .end_box .end img{
	width: 0.26rem;
	height: 0.26rem;
	margin-right: 0.16rem;
}
header .destination .start_box .name,header .destination .end_box .name{
	font-size:0.28rem;
	color: #2e3f51;
	font-weight: bold;
	text-align: center;
}
header .destination .icon{
	width: 1.46rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
header .destination .icon img:first-child{
	width: 0.44rem;
	height: 0.47rem;
	margin-bottom: 0.14rem;
}
header .destination .icon img:last-child{
	width: 1.46rem;
	height: 0.11rem;
}
.content{
	background-color: #f3f5f7;
	flex: 1;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.block{
	margin-top: 0.18rem;
	color: #333;
	background-color: #fff;
}
.block dt{
	height: 0.72rem;
	margin-left: 0.1rem;
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.block dt .l{
	width: 7.4rem;
	height: 1px;
	background: url(../img/line1.png) no-repeat;
	position: absolute;
	bottom:-1px;
	left: 0;
}
.block dt em{
	font-size: 0.28rem;
}
.block dt span{
	font-size: 0.24rem;
	color: #999;
	margin-left: 0.1rem;
}
.block dt .s{
	display: block;
	width: 0.05rem;
	height: 0.2rem;
	background-color: #2e3f51;
	border-radius: 0.02rem;
	margin: 0 0.1rem 0 0.16rem;
}
.block dd{
	height: 0.88rem;
	width: 7.02rem;
	margin-left: 0.24rem;
	line-height: 0.88rem;
	border-bottom: 1px solid #dcdcdc;
	font-size: 0.28rem;
}
.block .cb{
	border-bottom:none;
}
.block dd .val{
	color: #999;
}
.block dd img{
	width: 0.5rem;
	margin: 0.19rem 0.18rem 0 -0.06rem;
}
.freight dd{
	width: 100%;
	height: 2.1rem;
	margin: 0;
	position: relative;
}
.freight dd>div{
	font-size: 0.32rem;
	position: absolute;
	left: 0.26rem;
	line-height: 0.32rem;
}
.freight dd .cost{
	top: 0.6rem;
	color: #000;
}
.freight dd .offer{
	top: 1.34rem;
	color: #1eb389;
}
.freight dd ul{
	display: flex;
	margin-top: 0.3rem;
	padding-left: 0.4rem;
}
.freight dd ul li{
	flex: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 1.8rem;
	border-right: 1px solid #dcdcdc;
}
.freight dd ul li.cr{
	border-right:none;
}
.freight dd ul li .kind{
	color: #666;
	font-size: 0.24rem;
}
.freight dd ul li .price{
	color: #000;
	font-size: 0.32rem;
}
.freight dd ul li .price em{
	font-size: 0.32rem;
}
.freight dd ul li .bj{
	display: flex;
	justify-content: center;
}
.freight dd ul li .bj em{
	margin-right: 0.2rem;
}
.freight dd ul li .bj em,.freight dd ul li .bj input{
	color: #1eb389;
	font-size: 0.32rem;
	line-height: 0.6rem;
}
.freight dd ul li .bj input{
	width: 1.2rem;
	height: 0.6rem;
	box-sizing: border-box;
	border: 1px solid #1eb389;
	text-align: center;
	border-radius: 4px;
}
footer{
	height: 1.6rem;
	background-color: #f3f5f7;
	text-align: center;
}
footer div{
	display: block;
	width: 7.1rem;
	height: 0.9rem;
	border-radius: 0.06rem;
	text-align: center;
	line-height: 0.9rem;
	font-size: 0.34rem;
	color: #fff;
	background-color: #2e3f51;
	margin: 0.32rem auto 0.57rem;
}
footer span{
	font-size: 0.3rem;
	color: #666;
}